<!doctype html>
<title>素数判定サイト</title>
<h1>素数判定サイト</h1>
<p>判定したい数を入力してください</p>
<p>※10桁以上の数を入力すると判定に時間がかかる可能性があります</p>

    
    
    
    <div class="inner is-space">
        <form id="number_input" class="form is-space" action="{{url_for('is_prime')}}" method="POST">
            
            <p class="heading">
                <span class="text">自然数</span>
            </p>
            <div class="field">
                <input class="input-format" type="number" name="number" value={{num}}>
                
            </div>
        </form>    
            
        
    </div>
    <p>判定結果：{{result}}</p>
